body {
  background-color: #FDF1CB;
  font-family: 'Alegreya', serif;
  color: #6E5500;
}

strong {
  color: #215E9D;
}

em {
  color: #3F71A5;
  font-size: 30px;
}

.container {
  max-width:800px;
  margin: 0 auto;
  background-color: white;
}

.logo {
  max-width:800px;
  width: 100%;
  height:auto;
  display:block;
}

nav {
  background-color: #CA9D06;
  height:60px
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 60px;
}

nav li {
  display: inline;
  padding: 15px;
  font-family: 'Alegreya SC', serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

nav li:before {
  content: '{ ';
}

nav li:after {
  content: ' }';
}

nav a, nav a:link, nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

#slides {
  display: none;
}

.content {
  padding: 0 25px;
  font-size: 25px;
  text-align: center;
}

footer {
  background-color: #CA9D06;
  height:48px;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
}

footer a, footer a:link, footer a:visited {
  color: white;
}

footer p {
  margin: 0;
}

@media (max-width: 800px) {
  nav {
    height: auto;
    padding: 5px 0 5px 0
  }

  nav li {
    display: block;
    line-height: 0px;
  }
}

@media (max-width: 320px) {
  em {
    font-size: 20px;
  }

  nav li {
    font-size: 18px;
  }

  .content {
    font-size: 18px;
    padding: 0 10px;
  }

  footer {
    font-size: 12px;
    height: 40px;
  }
}